/* GENERAL */
body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

ul li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

section{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

/* UTILS */
.cg_container{
    width: 80%;
    height: 80%;
}

.title-section{
    text-align: center;
    color: #333333;
}

.cg-star div{
    border: 1px solid #333333;
    width: 90px;
}

.cg-star-bg-green div{
    border: 1px solid white;
}

.cg-star svg{
    margin: 20px;
    width: 20px;
}

/* HEADER */

header{
    height: 60px;
    background-color: #2C3E50;
}

.cg-col-left,
.cg-col-right{
    line-height: 60px;
}

.cg-nav-start{
    font-weight: bold;
    font-size: 19px;
}

.hamburger svg{
    width: 45px;
    height: 30px;
    border: 1px solid white;
    border-radius: 3px;
}

/* JUMBOTRON */

.jumbotron{
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #1ABC9C;
}

.jumbotron img{
    width: 200px;
}


/* PORTFOLIO */

.card{
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

/* ABOUT */

#about{
    background-color: #1ABC9C;
}

.title-section-green{
    color: white;
}

/* CONTACT */

form .input-element input{
    border: 0px;
    border-bottom: 1px solid gray;
    color: #2C3E50;
}

input{
    width: 100%;
    padding: 10px 0;
}

textarea{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid gray;
    color: #2C3E50;
    margin: 10px 0;
}

form .cg-btn-form{
    background-color:#1ABC9C ;
    color: white;
}

/* FOOTER-TOP */

.footer-top{
    background-color: #3A546D;
}

.social{
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.footer-top .gc-col-right p span{
    color: #1CBB9C;
}

/* DEBUG */

.bug{
    background-color: rgba(255, 0, 0, 0.5);
}

.h_400{
    height: 400px;
}

.h_300{
    height: 300px;
}

.h_200{
    height: 200px;
}

.h_100{
    height: 100px;
}