.d-flex{
    display: flex;
}

/* HEADER */

header{
    height: 60px;
}

/* JUMBOTRON */

.jumbotron{
    height: 400px;
    align-items: center;
    justify-content: center;
}

.cg_container{
    width: 50%;
    height: 80%;
}

/* DEBUG */

.bug{
    background-color: rgba(255, 0, 0, 0.5);
}

.h_400{
    height: 400px;
}