
.cg_container{
    width: 50%;
    height: 80%;
}

.title-section{
    text-align: center;
}
/* HEADER */

header{
    height: 60px;
}

/* JUMBOTRON */

.jumbotron{
    height: 400px;
    align-items: center;
    justify-content: center;
}





/* DEBUG */

.bug{
    background-color: rgba(255, 0, 0, 0.5);
}

.h_400{
    height: 400px;
}

.h_300{
    height: 300px;
}

.h_200{
    height: 200px;
}

.h_100{
    height: 100px;
}